@charset 'utf-8';


body{
	background: url('../img/wood.png');
	font-family: 'Droid Sans', sans-serif;
}
h2{
	font-family: 'Nixie One', cursive;
	font-size: 45px;
	color:white;

}
.wrapper{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
}

footer{
	background-color: #324F9D;
	display: inline-block;
	width: 100%;
	border-top: 5px solid #7575DB;
	color:white;
}

header{
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 16px;
}
.barraazul{
	position: absolute;
	background-color: #324F9D;
	width: 100%;
	height: 40px;
}

nav{
	text-align: right;
	margin-top: -5px;
}
nav ul li{
	color: white;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 62px;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{

}
nav li:first-child a{
	border-left: none;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.logo{
	float: left;
	margin-top: -15px;
	width: 310px;
	height: 229px;
	background: url('../img/logo.png') no-repeat;
	background-size: contain; 
	z-index: 2;
}

.smaller{
		background-size: 180px 94px;
		width: 180px;
		height: 94px;
}

/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: rgb(75, 75, 75) url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

/* FOOTER */

.fraseFooter{
	text-align: center;
	margin: 0;
	padding: 25px 0;
	font-size: 2em;
}
.footer-der, .footer-med,.footer-izq {
	display: inline-block;
	vertical-align: top;
}
.footer-izq, .footer-der{
	width: 25%;
	text-align: right;
}
.footer-med{
	width: 48%;
	text-align: center;
}
.footercontenido{
	margin-top: 29px;
}
.copyright{
	padding-top: 29px;
	height: 50px;
}

.listaMenuFooter ul{
	margin:0;
	padding: 0;
}
.listaMenuFooter li{
	display: inline-block;
}
.listaMenuFooter a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	margin-right: 25px;
	text-transform: uppercase;
}
.logoblanco{
	background: url(../img/angeleslogoblanco.png) no-repeat 0 0;
	height: 95px;
	margin: 0 auto 0 auto;
	}

	@media screen and (max-width: 1000px){
	.wrapper{
		width: 100%;
	}
	.logo{
	background-size: 180px 94px;
	width: 180px;
	height: 94px;
	}
	nav ul li{
		font-size: 12px;
		padding-left: 4px;
	}
}
@media screen and (max-width: 480px) {
	h2{
		font-size: 29px;
	}
	header{
		height: 200px;
	}
	nav ul li{
		display: block
	}
	.fixed{
		position: inherit;
	}
	.barraNavegacion a {
		display: block;
		width: 93%;
		background-color: #324F9D;
		text-align: center;
		padding: 30px 10px;
		margin-bottom: 3px;
	}

	}