
.botonesSociales{
	display: inline-block;
	width: 100%;
	height: 40px;
 	text-align: right;
 	padding: 15px 0 61px 0;

}
.botonesSociales ul{
	display: inline-block;
	width: 50%;
}
.botonesSociales ul li{
	text-decoration: none;
	display: inline-block;
}
.textonosotros{
	width: 44%;
	text-align: justify;
	padding: 40px 0 0 0;
	color: white;
}

.bface{
	width: 36px;
	height: 44px;
	background: url('../img/sociales.png') no-repeat;
	padding-right: 15px;
}
.titulonosotros{
	padding: 20px 0 0 69px; 
}
.btwitter{
	width: 36px;
	height: 44px;
	background: url('../img/sociales.png') -55px no-repeat;
	padding-right: 15px;
}
.bcorreo{
	width: 43px;
	height: 44px;
	background: url('../img/sociales.png') -109px no-repeat;
}

.banner1{
	background-color: black;
	width: 100%;
	height: 300px;
}
.nosotros{
	width: 100%;
	height: 437px;
	background: url('../img/nosotros.png') no-repeat;
	padding-bottom: 36px;
}
.fondotransparente{
	position: absolute;
	width: 100%;
	height: 357px;
	background-color: rgb(158, 147, 147);
	opacity: 0.2;
	z-index: 1;
}
.conbuenpie{
	position: relative;
	display: inline-block;
	width: 414px;
	height: 252px;
	margin-right: 184px;
	background: url('../img/logos.png') no-repeat;
	z-index: 2;
}
.showtime{
	position: relative;
	display: inline-block;
	width: 248px;
	height: 300px;
	background: url('../img/logos.png') -406px no-repeat;
	z-index: 2;
}
.lineacontacto{
	display: inline-block;
	width: 466px;
	vertical-align: top;
	height:110px;
	background: url('../img/lineacontacto.png')  no-repeat;
	margin-bottom: 31px;
}
.contacto{
	display: inline-block;
	width: 100%;
	margin-top: -2px;
	background: url('../img/fcontacto.png');
}
.topcontacto{
	display: inline-block;
	width: 100%;
	height: 52px;
	background: url('../img/topcontacto.png');
}
.titulocontacto{
	position: relative;
	top: -20px;
	left: 20px;
}
.ultimasnoticias{
	width: 100%;
	height: 578px;
	background-position: center;
	background: url('../img/lineas.png') no-repeat center;
}
#socialcontacto{
	width: 50%;
	text-align: left;
}
.fondologo{
	position: absolute;
	right: 0;
	width: 359px;
	height: 329px;
	background: url('../img/logofondo.png');
}
.logostitulo{
	display: inline-block;
	width: 100%;
	height: 42px;
	text-align: center;
	margin-bottom: 26px;
}
.bannerPrincipal{
	margin-bottom: 20px;
}
.logos{
	display: inline-block;
	width: 100%;
}

.cizquierda{
	width: 80%;
	color: white;
}
.columnacontacto{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.campo label{
	display: inline-block;
	width: 100%;
	margin-bottom: 4px;
}

.campo input{
	display: inline-block;
	width: 71%;
	height: 26px;
	margin-bottom: 16px;
	background-color: rgb(205, 229, 255);
	opacity: 0.6;
	border-radius: 9px;
}
.campo textarea{
	background-color: white;
	opacity: 0.6;
	width: 100%;
	border-radius: 9px;
}
.publicacion{
	display: inline-block;
	width: 24%;
}
.entradas{
	margin-top: 79px;}
.titulopublicacion {
	text-decoration: none;
}