{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="">
{% endblock%}
{% block title %}
Duranjo Web
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/refineslide.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script async type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/back-top.js"></script>
<script async type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/stickymenu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/refineslide/jquery.refineslide.min.js"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li id="homeMenu" class="index"><a href="{% url 'homepageindex' %}">Inicio</a></li>
			<li id="nosotrosMenu" class="works"><a href="{% url 'homepageindex' %}#nosotros" >Nosotros</a></li>
			<li id="produccionesMenu" class="services"><a href="{% url 'homepageindex' %}#producciones">Producciones</a></li>
			<li id="contactoMenu" class="contact"><a href="{% url 'homepageindex' %}#contacto">Contacto</a></li>
		</ul>				
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
<div class="wrapper">
	<div class="botonesSociales">
		<ul>	
			<li class="bface"></li>
			<li class="btwitter"></li>
			<li class="bcorreo"></li>
		</ul>
	</div>	
		<section class="bannerPrincipal">
			<div class="wrapper">
				<ul class="rs-slider">
	   				 <li><img src="{{ STATIC_URL }}img/img1.png" alt="" width="1000"/>
	   				         <div class="rs-caption rs-bottom"></li>
	    			<li><img src="{{ STATIC_URL }}img/img2.png" alt="" width="1000" /></li>
	    			<li><img src="{{ STATIC_URL }}img/img3.png" alt="" width="1000"/></li>
	    			<li><img src="{{ STATIC_URL }}img/img4.png" alt="" width="1000"/></li>
				</ul>
			<div class="cintablue"></div>
			</div>
		</section>
		<section class="nosotros" id="nosotros">	
			<div class="titulonosotros"> <h2> Nosotros</h2></div>
			<div class="textonosotros"> Un texto es una composición de signos codificado en un sistema de escritura (como un alfabeto) que forma una unidad de sentido . Su tamaño puede ser variable. También es texto una composición de caracteres imprimibles (con grafema) generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</div>
		</section>
</div>		
		<section class="producciones" id="producciones">	
		<div class="fondotransparente"></div>	
			<div class="wrapper">
				 <div class="hombre"></div>
				 <div class="textoshowtime">
				 	<div class="logostitulo"><h2> ShowTime</h2></div>
				 	No te pierdas nuestro programa de radio y televisión "ShowTime" transmitido por GlobalTV y Feria 106.9s
				 	<div class="botonshow">IR AL SITIO WEB</div>
				 </div>
  			     <div class="showtime"></div>
			</div>
		</section>
	<section class="ultimasnoticias">
		<div class="wrapper">
			 <div class="logostitulo"><h2> Publicaciones Recientes:</h2></div>
			 <div class="entradas">
			 	{% for item in entradas %}
			 	<a href="{{ item.get_absolute_url }}">
			 		<div class="publicacion">
			 			<div class="fecha">{{ item.creation_date|date:"SHORT_DATE_FORMAT" }}</div>
			 			<img src="{{ MEDIA_URL }}{{item.image}}" width ="304" height="230">
			 		   	<div class="titulopublicacion">{{ item.title }}</div>
			 	   </div>
				</a>
				 {% endfor %}
			</div>
			

		<a class="irblog" href="/weblog">Ver todo </a>
	</div>
	</section>
	<div id="contacto" class="topcontacto"></div>
	<section id="contacto" class="contacto">
		<div class="fondologo"></div>
		<div class="contacto">
			<div class="wrapper">
				<div class="lineacontacto"><h2 class="titulocontacto">Contacto</h2></div>
					<div class="botonesSociales" id="socialcontacto">
						<ul>	
							<li class="bface"></li>
							<li class="btwitter"></li>
							<li class="bcorreo"></li>
						</ul>	
					</div>	
				{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
				{% else %}
				<form  class="cizquierda" action="#contacto" method="POST">
					<div class="columnacontacto">	
	
						{% csrf_token %}
						<div class="campo">
							{{ field.errors }}
							<label for="nombre">Nombre:</label>
							{{ form.nombre }}
							{{ form.nombre.errors }}
						</div>
						<div class="campo">				
							{{ field.errors }}
							<label for="email">Correo Electrónico:</label>
							{{ form.email }}
							{{ form.email.errors }}
						</div>
						<div class="campo">
							{{ field.errors }}
							<label for="telefono">Teléfono:</label>
							{{ form.telefono }}
							{{ form.telefono.errors }}
						</div>
					</div>
					<div class="columnacontacto">
						<div class="textareaDescripcion campo">
						{{ field.errors }}
						<label for="texto">Mensaje: </label>
						{{ form.texto }}
						{{ form.texto.errors }}
						</div>
						<div class="botonEnviar">
							<input type="submit">
						</div>
					</div>
				</form>
			{% endif %}
			</div>
		</div>

	</section>	
</div>	

<!-- slider -->
<script>
    $(function () {
        $('.rs-slider').refineSlide({
            maxWidth: 1000,
            autoPlay           : true, // set to native image width (px)
        });
    });
</script>

	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
			<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
